#### Chargement librarie

In [82]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

#### Création d'un dictionnaire nom de l'état --> code sur 2 lettres

In [83]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

#### Création de l'index au format int

In [84]:
period = []
for i in range(1992, 2017):
    for j in ['01','02','03','04','05','06','07','08','09','10','11','12',]:
        entry = int(str(i) + j)
        period.append(entry)
    
period

[199201,
 199202,
 199203,
 199204,
 199205,
 199206,
 199207,
 199208,
 199209,
 199210,
 199211,
 199212,
 199301,
 199302,
 199303,
 199304,
 199305,
 199306,
 199307,
 199308,
 199309,
 199310,
 199311,
 199312,
 199401,
 199402,
 199403,
 199404,
 199405,
 199406,
 199407,
 199408,
 199409,
 199410,
 199411,
 199412,
 199501,
 199502,
 199503,
 199504,
 199505,
 199506,
 199507,
 199508,
 199509,
 199510,
 199511,
 199512,
 199601,
 199602,
 199603,
 199604,
 199605,
 199606,
 199607,
 199608,
 199609,
 199610,
 199611,
 199612,
 199701,
 199702,
 199703,
 199704,
 199705,
 199706,
 199707,
 199708,
 199709,
 199710,
 199711,
 199712,
 199801,
 199802,
 199803,
 199804,
 199805,
 199806,
 199807,
 199808,
 199809,
 199810,
 199811,
 199812,
 199901,
 199902,
 199903,
 199904,
 199905,
 199906,
 199907,
 199908,
 199909,
 199910,
 199911,
 199912,
 200001,
 200002,
 200003,
 200004,
 200005,
 200006,
 200007,
 200008,
 200009,
 200010,
 200011,
 200012,
 200101,
 200102,
 200103,
 200104,
 200105,
 200106,
 200107,
 200108,
 200109,
 200110,
 200111,
 200112,
 200201,
 200202,
 200203,
 200204,
 200205,
 200206,
 200207,
 200208,
 200209,
 200210,
 200211,
 200212,
 200301,
 200302,
 200303,
 200304,
 200305,
 200306,
 200307,
 200308,
 200309,
 200310,
 200311,
 200312,
 200401,
 200402,
 200403,
 200404,
 200405,
 200406,
 200407,
 200408,
 200409,
 200410,
 200411,
 200412,
 200501,
 200502,
 200503,
 200504,
 200505,
 200506,
 200507,
 200508,
 200509,
 200510,
 200511,
 200512,
 200601,
 200602,
 200603,
 200604,
 200605,
 200606,
 200607,
 200608,
 200609,
 200610,
 200611,
 200612,
 200701,
 200702,
 200703,
 200704,
 200705,
 200706,
 200707,
 200708,
 200709,
 200710,
 200711,
 200712,
 200801,
 200802,
 200803,
 200804,
 200805,
 200806,
 200807,
 200808,
 200809,
 200810,
 200811,
 200812,
 200901,
 200902,
 200903,
 200904,
 200905,
 200906,
 200907,
 200908,
 200909,
 200910,
 200911,
 200912,
 201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112,
 201201,
 201202,
 201203,
 201204,
 201205,
 201206,
 201207,
 201208,
 201209,
 201210,
 201211,
 201212,
 201301,
 201302,
 201303,
 201304,
 201305,
 201306,
 201307,
 201308,
 201309,
 201310,
 201311,
 201312,
 201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607,
 201608,
 201609,
 201610,
 201611,
 201612]

Retranchement des entrées 2016 à l'exception de janvier

In [85]:
period = period[:-11]

#### Création du DF US_temp

In [86]:
US_temp = pd.DataFrame(index = period)
US_temp.index.set_names('Date', inplace = True)
US_temp

Empty DataFrame
Columns: []
Index: [199201, 199202, 199203, 199204, 199205, 199206, 199207, 199208, 199209, 199210, 199211, 199212, 199301, 199302, 199303, 199304, 199305, 199306, 199307, 199308, 199309, 199310, 199311, 199312, 199401, 199402, 199403, 199404, 199405, 199406, 199407, 199408, 199409, 199410, 199411, 199412, 199501, 199502, 199503, 199504, 199505, 199506, 199507, 199508, 199509, 199510, 199511, 199512, 199601, 199602, 199603, 199604, 199605, 199606, 199607, 199608, 199609, 199610, 199611, 199612, 199701, 199702, 199703, 199704, 199705, 199706, 199707, 199708, 199709, 199710, 199711, 199712, 199801, 199802, 199803, 199804, 199805, 199806, 199807, 199808, 199809, 199810, 199811, 199812, 199901, 199902, 199903, 199904, 199905, 199906, 199907, 199908, 199909, 199910, 199911, 199912, 200001, 200002, 200003, 200004, ...]

[289 rows x 0 columns]

In [87]:
for i in range(1, 49):
    csv_url = 'https://www.ncdc.noaa.gov/cag/statewide/time-series/{}-tavg-all-1-1992-2016.csv?base_prd=true&begbaseyear=1901&endbaseyear=2000'.format(str(i))
    req = requests.get(csv_url)
    lines = req.iter_lines()
    state_name = next(lines).decode("utf-8").split(',')[0]
    url_content = req.content
    filename = './US-temp/' + str(state_name) + '.csv'
    csv_file = open(filename, 'wb')
    csv_file.write(url_content)
    csv_file.close()
    temp = pd.read_csv(filename, sep = ",", skiprows=4, index_col = 0, usecols = ['Date', 'Value'])
    temp = temp.rename(columns = {'Value':us_state_to_abbrev[state_name]})
    US_temp = pd.concat([US_temp, temp], axis = 1)

In [88]:
US_temp.shape

(289, 48)

In [89]:
US_temp.to_csv('US_temp.csv')